body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent {
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
}

.idiomes {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
  padding-top: 15px;
}

#menu {
  background-color: rgb(46, 150, 60);
  color: black;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
}

#dadesLogin {
  border-radius: 10px;
  padding: 30px;
  width: max-content;
  background-color: white;
  margin: auto;
}

#emailLogin {
  font-size: 14pt;
  width: max-content;	
}

#divLogin {
  padding-top: 20px;
  padding-bottom: 18px;
  background-image: url("../public/canpica1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type="password"] {
  font-size: 14pt;
  width: max-content;
}

label {
  font-size: 14pt;
}

#botoLogin {
  display: flex;
  background-color: #976E9D;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 14pt;
  color: white;
  cursor: pointer;
  margin: auto;
  border-radius: 10px;
}

#botoLogin:hover {
  background-color: #B283B9;
}
